<!DOCTYPE html>
<html>

<head>
    <title>Server for simps</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <div class="center">
            <h1>Coole Porjektseite!</h1>
            <img src="/img/fire.gif" alt="fire" />
        </div>
    </header>

    <section class="center">
        <div class="container" style="text-align: center;">
            <p>Bahnfahren war noch nie kostenloser!!!: </p>
            <img>
            <a href="https://shop.rewe.de/p/original-turmbraeu-0-5l/992388"><img src="/img/click.gif"
                    alt="Wege aus der Schreibblockade #69/420"></a>
        </div>

        <div class="container, fancy">
            <p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="/img/bling.gif"
                        alt="Nicht die mama"></a>
            </p>
        </div>

        <div class="container">
            <img src="img/genie.gif" alt="der mit der lampe">
            <form action="/login" method="post">
                <label for="un">Username:</label><br>
                <input type="text" id="un" name="un" value="Money" placeholder="Username"><br>
                <label for="pw">Password:</label><br>
                <input type="password" id="pw" name="pw" value="B$Y" placeholder="Password"><br><br>
                <input type="image" value="Submit" src="img/Login.gif" alt="login">
            </form>
            <img src="/img/world.gif" alt="Eine Scheibe">
        </div>


    </section>

    <footer>
        <div class="center">

            <p class="container">
                best viewed on
                <img src="/img/bestIE.gif" alt="Internet Explorer" />
            </p>
        </div>
    </footer>

</html>