<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Quezz!</title>
    <link href="views/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- image or gif will be add later -->
    <h4>Do you want to test your knowledge?</h4>
    <p>
        <a href="login">Log in or sign up to be our competitor</a>
    </p>
    <h4>If you just want to relax and have fun</h4>
    <p>
        <a href="questionstart">Be our guest</a>
    </p>

    <section>
        <h1>TESTI QUESTIES</h1>

        <!-- 
                Loop through recieved questions array
                Parsed in server.js
            -->
        <% if (arr && arr.length) { %>
        <ul>
            <!-- Generating li items per question (str in arr)-->
            <% arr.forEach((item) => { %>
            <li><%= item %></li>
            <% }) %>
        </ul>
        <% } %>
    </section>


    <h4>Demo these here: </h4>
    <p>
        <a href="demo">demo quiz</a>
    </p>
</body>

</html>