<!DOCTYPE html>
<html>

    <head>
        <title>Welcome to Quezz!</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="curved-header">
            <div class="content">
                <!-- image or gif will be add later -->
                <h2>Quezz?</h2>
                
            </div>
        </div>

        <div class="choice-option">
            <div class="box-question">Do you want to test your knowledge?</div>
            <div class="box-choice">
                <a href="login">Log in or sign up to be our competitor</a>
            </div>
            <div class="box-question">If you just want to relax and have fun</div>
            <div class="box-choice">
                <a href="question">Be our guest</a>
            </div>
        </div>
        
        <h4>Demo these here: </h4>
        <p>
            <a href="demo">demo quiz</a>
        </p>
    </body>

</html>