<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
		<form action="/logincheck" method="POST">
			<input type="text" placeholder="username" class="field" name="username">
			<input type="password" placeholder="password" class="field" name="password">
			<button type="submit" class="btn">submit</button>

            <div>
                <% if (typeof error != "undefined") { %>
                    <%= error %>
                <% } %>
            </div>
		</form>
		<div class="pass-link"> You are a new competitor?
			<a href="/register" >Sign up here</a>
		</div>
        </div>
    </body>
</html>