<!DOCTYPE html>
<html>
    <head>
        <title>Demo page</title>
        <link rel="stylesheet" href="questpage.css">
    </head>
    <body>
        <div class="question"> Q:  
            <div class="text">The answer is very big.</div>
        </div>
        <div class="answer">
            <div class="box">THE ANSWER</div>
            <div class="box">Really big</div>
            <div class="box">An elephant</div>
            <div class="box">The data given is insufficient</div>
        </div>
    </body>
</html>