<!DOCTYPE html>
<html>

<head>
    <title>Quezz</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <form action="/test" method="POST">
        <button type="submit" class="btn btn-primary">test</button>
    </form>

    <section>
        <h1>TESTI QUESTIES</h1>

        <!-- 
                    Loop through recieved questions array
                    Parsed in server.js
                -->
        <% if (arr && arr.length) { %>
        <ul>
            <!-- Generating li items per question (str in arr)-->
            <% arr.forEach((item) => { %>
            <li><%= item %></li>
            <% }) %>
        </ul>
        <% } %>
    </section>

</body>

</html>