<!DOCTYPE html>
<html>
    <head>
        <title>Quezz</title>
        <link href="views/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <button>test</button>


    </body>
</html>