<!DOCTYPE html>
<html>

<head>
    <title>Score: <%= score%></title>
    <link rel="stylesheet" href="questpage.css">
</head>

<body>
    <div class="question"> Out of <%= index%> you probably guessed:
        <div class="text"><%= score%>!</div>
    </div>

    <div class="pass-link">
        <a href="/start">Try again?</a>
    </div>
</body>

</html>