<!DOCTYPE html>
<html>

<head>
    <title>Score: <%= score%></title>
    <link rel="stylesheet" href="questpage.css">
</head>

<body>
    <h1>YOUR SCORE: <%= score%> </h1>

    <div class="pass-link">
        <a href="/start">Try again?</a>
    </div>
</body>

</html>