<!DOCTYPE html>
<html>

<head>
    <title>Quezz - Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <form action="/test" method="POST">
        <button type="submit" class="btn btn-primary">test</button>
    </form>

    <section>
        <h1>TESTI QUESTIES</h1>

        <h2>WELCOME <% user%> </h2>
    </section>

</body>

</html>